
.wrapper{
    width: 100%;
    min-height: 100vh;
    background: rgb(248,249,215);
    background: linear-gradient(180deg, rgba(248,249,215,1) 0%, rgba(178,200,223,1) 100%);
    position: relative;
}
.container{
    width: min(1820px,95%);
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 80px;
    /* background-color: red; */
}
.cardSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* margin-top: 20px; */
    padding-top: 50px;
}